/* css/navbar.css */

.navbar {
  border-bottom: 2px solid #e0e0e0;
  
}


.navbar-brand {
  font-weight: bold;
  color: #d9534f !important;
}

.navbar-nav .nav-link {
  color: #333 !important;
}

.navbar-nav .nav-link:hover {
  color: #d9534f !important;
  text-decoration: underline;
}

.navbar-toggler {
  border: none;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
}

.modal-backdrop {
  display: none !important;
}
